<section>
    <%= form_with(model: entity, url: entities_url(category_id: category_id)) do |form| %>
      <ul class="list-unstyled">
      <% if entity.errors.any? %>
        <li style="color: red">
          <h1><%= pluralize(entity.errors.count, "error") %>  this entity not allowed from being saved:</h1>

          <div class="list-unstyled">
            <% entity.errors.each do |error| %>
              <div><%= error.full_message %></div>
            <% end %>
          </div>
        </li>
      <% end %>

      <li>
        <%= form.text_field :name, class: 'form-text', placeholder: 'Enter entity name' %>
      </li>
      <hr />
      <li>
        <%= form.number_field :amount, class: 'form-text', placeholder: 'Enter Amount' %>
      </li>

      <li>
        <%= form.submit 'Add', class: 'save' %>
      </li>
      </ul>
    <% end %>
</section>
