<section id="<%= dom_id category %>">
  <p>
    <strong>Category Name:</strong>
    <%= category.name %>
    <span><%= category.created_at.strftime("%Y/%m/%d") %></span>
  </p>

  <p>
    <strong>Icon Name:</strong>
    <%= category.icon %>
  </p>

  <div>
    <p class="math">Sum: $<%= category.entities.sum(:amount)%></p>
  </div>

</section>