<section>
  <ul class="list-unstyled">
    <%= form_with(model: category) do |form| %>
      <% if category.errors.any? %>
        <li style="color: red">
          <h2><%= pluralize(category.errors.count, "error") %> not allowed this category from being saved:</h2>

          <div>
            <% category.errors.each do |error| %>
              <div><%= error.full_message %></div>
            <% end %>
          </div>
        </li>
      <% end %>

      <li>
        <%= form.text_field :name, class: 'name-cat', placeholder: 'Enter Category name' %>
      </li>
      <hr />
      <li>
        <%= form.text_field :icon, class: 'icon-cat', placeholder: 'Enter Icon Name' %>
      </li>

      <li class="sub">
        <%= form.submit 'Add', class: 'add-cat-sub' %>
      </li>
    <% end %>
  </ul>
</section>
