<nav>
  <div class="categs">
    <div>
      <%= link_to '<', root_path, class: "arrow-back" %>
    </div>
    <div>
      <h1>Categories</h1>
    </div>
    <div>
      <%= button_to 'LOG OUT', destroy_user_session_path, method: :delete, class: "destry" %>
    </div>
  </div>
</nav>
<% @categories.each do |category| %>
  <%= link_to category_path(category) do %>
    <ul class="section-container list-unstyled">
      <li class="icon">
        <%= category.icon %>
      </li>

      <li>
        <p><%= category.name %></p>
        <span><%= category.created_at.strftime("%Y/%m/%d") %></span>
      </li>

      <li class="left">
        <div class="sum-delete">
          <p class="sum">Sum: $<%= category.entities.sum(:amount)%></p>
        </div>
      </li>
    </ul>
  <% end %>
<% end %>

<div class="addnew">
  <%= link_to "Add New Category", new_category_path, class: "addnew2" %>
</div>